  /*DIV QUE CONTIENE TODOS LOS TIER CON Sus RESPECTIVOS DATOS.*/
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
  }
#ordenamientos{
  margin-left: 50px;
}

/*CLASE QUE CONTIENE EL RECTANGULO (TIER) Y SUS DIMENSIONES  */
.dibujo1_tier{
    width: 1070px;
    margin-top: 110px;
}
.tier_titulo{
  font-weight: bold;
}
.bodega_titulo{
  font-weight: bold;
  font-size: 25px;

}
#logo{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 170px;
}
/*CLASE DE DIBUJODE LOS TIER*/
.dibujo_tier{
  outline: 1px solid;
  width: 980px;
  height: 473px;
  padding: 0;
  display: inline-block;
  position: relative;
}
/*ROTACION DEL TEXTO DEL LARGO*/
.largo_tier>p{
  font-weight: bold;
  margin: 0;
  font-family: sans-serif;
  position:relative;
  top: 0px;
  left: 250px;
}
/*NUMERO AL LADO IZQUIERDO DEL TIER*/
.largo_tier{
transform: rotate(-90deg);
display: inline-block;
position:relative;
top: 250px;
left: 0px;

}

/*TEXTO ABAJO DEL RECTANGULO INDICANDO EL ANCHO*/
.ancho_tier>p{
  margin: 0;
  text-align: center;
  position: relative;
  top:-90px;
   left: -40px;
  font-weight: bold;
  font-family: sans-serif;
}
/*CLASE DE LINGAS QUE NO ESTAN GIRADAS*/
.cant_unit_sin_giro{
  /* display: inline-block; */

/* position: absolute;
/* left: 43%; */
}
/*CLASE DE LINGAS GIRADAS*/
.cant_unit_con_giro{
  /* margin: auto;
  position: absolute;
  top: 38%;
  left: 40%;*/
  transform: rotate(-90deg);
}
.titulo{
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  /* margin-bottom: 20px; */
}
/*BOTONES DE IMPRIMIR Y SELECCIONAR LINGAS */
#btn-pdf , #select{
  background: #eee;
  width: 300px;
}
#btn-pdf:hover , #select:hover{
  background: #e6e2e2;
}
/*MODIFICANDO MARGENCLASE CONTAINER DE BOOTSTRAP */
.container{
margin: 0;
}
/*MODIFICANDO PADDING DE TABLAS DE BOOTSTRAP*/
.table>tbody>tr>th,
.table>tbody>tr>td{
    padding: 4px;
}
/*TABLA DE DATOS DEL TIER*/
.dat{
  width: 40%;
}
.orden_tier_div{
  /* margin-top: 30px; */
}
